# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# =========================
# Logs
# =========================
*.log

# =========================
# Output (CRÍTICO)
# =========================
devsec-out/
*.bin
*.dump
*.img
*.elf

# =========================
# Tools externas
# =========================
ghidra-xtensa/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Entorno / secretos
# =========================
.env
*.env

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Otros
# =========================
*.swp
*~