annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
bitarray==3.8.1
bitstring==4.4.0
cffi==2.0.0
click==8.3.3
cryptography==46.0.7
esptool==5.2.0
fastapi==0.136.1
h11==0.16.0
idna==3.13
intelhex==2.3.0
markdown-it-py==4.0.0
mdurl==0.1.2
pycparser==3.0
pydantic==2.13.3
pydantic_core==2.46.3
Pygments==2.20.0
pyserial==3.5
PyYAML==6.0.3
reedsolo==1.7.0
rich==15.0.0
rich-click==1.9.7
starlette==1.0.0
tibs==0.5.7
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.46.0
